input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    display: none;
}
input[type='number']{
    width: 100px !important;
}

input[type='checkbox']{
    transform: scale(1.5);
}
